@model  IEnumerable<Avanade.Library.Entities.BooksAvailables>

<h2>Index</h2>

<form class="form-inline mb-4" method="get" action="@Url.Action("Index")">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title">
    </div>
    <div class="form-group">
        <label for="AuthorName">Author</label>
        <input type="text" class="form-control" id="Author" name="Author">
    </div>
    <div class="form-group">
        <label for="Publisher">Publishing House</label>
        <input type="text" class="form-control" id="Publisher" name="Publisher">
    </div>
    <button type="submit" class="btn btn-default">Filter</button>
</form>


@Html.Partial("books_partialview", Model)


